*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Go-сервер
/server/data/
/server/frolov-crm
/server/frolov-crm.exe
/app/build
keystore.properties
/server/.deploy-stage/
